body,html{
    font-family: 'Manrope', sans-serif;
}

#quote {
    border-left: 3px solid #000;
    padding-left: 20px
}

.mt5{
    margin-top: 70px;
 }

.contactBg1 {
    background: url('../images/car.image.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
}


.contactBg2 {
    background: url('../images/car.connect.png');
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: cover;
    
}
